In [1]:
import pandas as pd
from pandas import read_csv
import sklearn
from sklearn.model_selection import train_test_split
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU,PReLU,ELU,ReLU
import numpy as np
import tensorflow as tf

### Relu activation can be used as Leaky Relu

In [2]:
foo = tf.constant([-10, -5, 0.0, 5, 10], dtype = tf.float32)
print(foo)
print(ReLU())

tf.Tensor([-10.  -5.   0.   5.  10.], shape=(5,), dtype=float32)
<tensorflow.python.keras.layers.advanced_activations.ReLU object at 0x00000149B56BD280>

In [3]:
foo = tf.constant([-10, -5, 0.0, 5, 10], dtype = tf.float32)
print(foo)
print("1. ",tf.keras.activations.relu(foo).numpy())
print("2. ",tf.keras.activations.relu(foo, alpha = 0.01).numpy())
print("3. ",tf.keras.activations.relu(foo, max_value = 5).numpy())
print("4. ",tf.keras.activations.relu(foo, threshold = 5).numpy())

tf.Tensor([-10.  -5.   0.   5.  10.], shape=(5,), dtype=float32)
1.  [ 0.  0.  0.  5. 10.]
2.  [-0.09999999 -0.05        0.          5.         10.        ]
3.  [0. 0. 0. 5. 5.]
4.  [-0. -0.  0.  0. 10.]

In [4]:
# load the dataset
path = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/housing.csv'
df = read_csv(path, header = None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [6]:
X,y = df.values[:,:-1], df.values[:,-1]
print(X.shape , y.shape)

(506, 13) (506,)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)
# determine the number of input features
n_features = X_train.shape[1]
n_features

(339, 13) (167, 13) (339,) (167,)

13

In [8]:
# define model
model_1 = Sequential()
model_1.add(Dense(10, activation = LeakyReLU(0.01), kernel_initializer='lecun_normal', input_shape=(n_features,)))
model_1.add(Dense(8, activation = LeakyReLU(0.01) , kernel_initializer='lecun_normal'))
model_1.add(Dense(1)) # single neuron default output will be linear , So no activation required

In [9]:

# define model
model = Sequential()
model.add(Dense(10, activation=tf.keras.activations.relu, kernel_initializer='lecun_normal', input_shape=(n_features,)))
model.add(Dense(8, activation=tf.keras.activations.relu, kernel_initializer='lecun_normal'))
model.add(Dense(1)) # single neuron default output will be linear , So no activation required

In [40]:
# compile the model
model.compile(optimizer='adam', loss='mse')

In [41]:
# fit the model
model.fit(X_train, y_train, epochs=50, batch_size=10, verbose=2)

Epoch 1/50
34/34 - 1s - loss: 301.2495
Epoch 2/50
34/34 - 0s - loss: 127.5987
Epoch 3/50
34/34 - 0s - loss: 102.4979
Epoch 4/50
34/34 - 0s - loss: 90.7987
Epoch 5/50
34/34 - 0s - loss: 83.9486
Epoch 6/50
34/34 - 0s - loss: 79.3245
Epoch 7/50
34/34 - 0s - loss: 74.8123
Epoch 8/50
34/34 - 0s - loss: 70.9986
Epoch 9/50
34/34 - 0s - loss: 68.0683
Epoch 10/50
34/34 - 0s - loss: 66.2370
Epoch 11/50
34/34 - 0s - loss: 65.1373
Epoch 12/50
34/34 - 0s - loss: 65.2990
Epoch 13/50
34/34 - 0s - loss: 61.3718
Epoch 14/50
34/34 - 0s - loss: 60.1437
Epoch 15/50
34/34 - 0s - loss: 59.2580
Epoch 16/50
34/34 - 0s - loss: 58.0965
Epoch 17/50
34/34 - 0s - loss: 58.0809
Epoch 18/50
34/34 - 0s - loss: 56.8081
Epoch 19/50
34/34 - 0s - loss: 58.0572
Epoch 20/50
34/34 - 0s - loss: 56.0486
Epoch 21/50
34/34 - 0s - loss: 54.7234
Epoch 22/50
34/34 - 0s - loss: 54.3284
Epoch 23/50
34/34 - 0s - loss: 53.4558
Epoch 24/50
34/34 - 0s - loss: 54.3085
Epoch 25/50
34/34 - 0s - loss: 52.5079
Epoch 26/50
34/34 - 0s - loss: 52.1159
Epoch 27/50
34/34 - 0s - loss: 52.1244
Epoch 28/50
34/34 - 0s - loss: 52.4266
Epoch 29/50
34/34 - 0s - loss: 54.1014
Epoch 30/50
34/34 - 0s - loss: 50.6350
Epoch 31/50
34/34 - 0s - loss: 50.6044
Epoch 32/50
34/34 - 0s - loss: 49.2795
Epoch 33/50
34/34 - 0s - loss: 48.7112
Epoch 34/50
34/34 - 0s - loss: 49.7864
Epoch 35/50
34/34 - 0s - loss: 51.6679
Epoch 36/50
34/34 - 0s - loss: 49.1878
Epoch 37/50
34/34 - 0s - loss: 48.5443
Epoch 38/50
34/34 - 0s - loss: 47.8470
Epoch 39/50
34/34 - 0s - loss: 47.0396
Epoch 40/50
34/34 - 0s - loss: 47.7639
Epoch 41/50
34/34 - 0s - loss: 46.5641
Epoch 42/50
34/34 - 0s - loss: 48.0757
Epoch 43/50
34/34 - 0s - loss: 47.5059
Epoch 44/50
34/34 - 0s - loss: 45.8740
Epoch 45/50
34/34 - 0s - loss: 47.2940
Epoch 46/50
34/34 - 0s - loss: 46.4125
Epoch 47/50
34/34 - 0s - loss: 47.0158
Epoch 48/50
34/34 - 0s - loss: 45.3863
Epoch 49/50
34/34 - 0s - loss: 45.5861
Epoch 50/50
34/34 - 0s - loss: 45.9457

In [43]:
# evaluate the model
error = model.evaluate(X_test, y_test, verbose=0)
print('MSE: %.3f, RMSE: %.3f' % (error, np.sqrt(error)))

MSE: 38.740, RMSE: 6.224